/* General styling */
body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

h2 {
    margin: 20px 0;
    font-size: 2rem;
    color: #BB86FC;
}

/* Canvas styling */
#mandelbrotCanvas {
    border: 1px solid #BB86FC;
}

/* Paragraphs and inputs styling */
p {
    margin: 5px 0;
}

.inputs {
    background-color: #1F1F1F;
    border: 1px solid #333;
    color: #FFF;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

.no-arrows {
    -moz-appearance: textfield;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    width: 100px;
}

input[type="range"] {
    width: 100%;
}

/* Button styling */
button {
    background-color: #BB86FC;
    border: none;
    color: #121212;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3700B3;
}

/* Responsive styling */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    #mandelbrotCanvas {
        width: 100%;
        height: auto;
    }

    input[type="number"] {
        width: 80%;
    }

    input[type="range"] {
        width: 80%;
    }

    button {
        width: 80%;
    }
}
